{% load static %}
<!DOCTYPE html>


<body>
  {% include "blood/navbar.html" %}

    </p>
    
    <section style="margin-top: 2%; background-color: #c32d22; color: aliceblue; color: black; margin-left: 0px; margin-right: 0px; margin-bottom: 40px; padding: 50px;">
        <p class="lead text-center" style="font-weight: 900; margin-bottom: -4px; font-size: 2.5em; color: aliceblue;">About Us</p>
    </section>
    <div style="position: relative;">
      <img src="/static/image/IMG_4733.jpg" alt="My Image" style="border: 2px solid red; display: block; margin-left: 700px; margin-right: 400px; width: 8%; height: auto;">
    </div>
    <section style="margin-top: 1%; width: 20% ;background-color: #c32d22; color: aliceblue; margin-left: 610px; margin-right: 300px; margin-bottom: 30px; padding: 10px;">
      <p class="lead text-center" style="font-weight: bold; margin-bottom: -4px;">Creater: Aakash Subba</p>
    </section>
    
    
    <h4 style="color: #c32d22; margin-left: 550px;margin-right: 300px;">Online Blood Bank Management System</h4>
    <p style="margin-bottom:4%; color: gray;margin-left: 300px;margin-right: 300px; text-align:justify;">
      I am Aakash Subba, a student pursuing BSc (Hons) IT at Herald College Kathmandu, affiliated with the University of Wolverhampton. 
      My final year project is an online blood bank management system built using the Django web framework and I am the developer behind this project.

      The goal of my project is to provide a platform for blood banks to manage their inventory, blood donation events, and communication 
      with donors and recipients. With the increasing demand for blood and limited availability, it is crucial to have an efficient system 
      for managing blood donations and ensuring that blood is available when needed.
      
      My system allows blood banks to register and manage their accounts, update their inventory, and post information about blood donation events. Donors can create accounts, view upcoming events, and sign up to donate blood. Recipients can also create accounts and search for donors who match their blood type and location.
      
      I have designed my system with the user experience in mind, making it easy for blood banks, donors, and recipients to navigate and
       use the platform. I am committed to improving and updating my system to meet the evolving needs of the blood bank community.
      
      Thank you for choosing my project and I hope that my online blood bank management system can contribute to saving lives and making a 
      positive impact in the world.
      
    </p>


    <div style="position: fixed; bottom: 30px; left: 20px;">
      <img src="/static/image/homepage.png" alt="My Image" style="display: block; margin-left: 0px; width: 15%; height: auto;">
    </div>
    
  <div style="position: fixed;left: 0%;bottom: 0;width: 100%;">
  {% include "blood/footer.html" %}
</div>

</body>

</html>

