{% load static %}
<!DOCTYPE html>

<head>
  <title>Online Blood Bank Management System</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'image/Logo.png' %}">
</head>

<body>
  {% include "blood/navbar.html" %}

  
    <head>
      
          
    </head>
   
  </p>
  <section style="margin-top: 2%; background-color: #c32d22; color: aliceblue; color: black; margin-left: 0px; margin-right: 0px; margin-bottom: 40px; padding: 50px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
    <p class="lead text-center" style="font-weight: 900; margin-bottom: -4px; font-size: 2.5em; color: aliceblue;">Welcome To Online Blood Bank Management System
      <h6 style="margin-left: 350px;color: aliceblue;">Be the reason for someone's heartbeat.
        A single drop of blood can make a huge difference.</h6>
</section>
<div style="position: relative; top: 30px; left: 20px; display: flex; justify-content: center;">
  <img src="/static/image/homepage.png" alt="My Image" style="display: block; margin-left: 0px; width: 15%; height: auto;">
</div>

    </p>
    <section style=" margin-top: 7%; background-color: #c32d22;color: aliceblue;margin-left: 400px;margin-right: 400px;margin-bottom: 30px;padding: 10px;">
        <p class="lead text-center"style="font-weight: bold;margin-bottom: -4px;">Major Blood Banks Inside Kathmandu Valley</p>
    </section>
      <section>
        <div style="display: grid;grid-template-columns: auto auto auto ; padding: 20px;border: 5px solid #d67e78;margin-left: 30px;margin-right: 30px; ">
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Bhaktapur NRCS Blood Bank,</h4>
            <p style="text-align: center;font-size: large;">Bhaktapur</p>
            <p style="text-align: center; font-size: large;">01-6611661, 01-6612266</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Central NRCS Blood Bank,</h4>
            <p style="text-align: center;font-size: large;">Soaltee-Mode</p>
            <p style="text-align: center; font-size: large;">01- 4288485,</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Lalitpur NRCS Blood Bank,</h4>
            <p style="text-align: center;font-size: large;">Pulchowk</p>
            <p style="text-align: center; font-size: large;">+9771542733</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Frontline Hospital Blood Bank,</h4>
            <p style="text-align: center;font-size: large;">Old Baneshwor , Kathmandu</p>
            <p style="text-align: center; font-size: large;">01-5970132</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Teaching Hospital,</h4>
            <p style="text-align: center;font-size: large;">Maharajgunj, Kathmandu</p>
            <p style="text-align: center; font-size: large;">01-44123030, 01-4410911</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Gangalal Hospital,</h4>
            <p style="text-align: center;font-size: large;">Bansbari, Kathmandu</p>
            <p style="text-align: center; font-size: large;">01-4371322</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Himal Hospital,</h4>
            <p style="text-align: center;font-size: large;">Gyaneshwor, Kathmandu</p>
            <p style="text-align: center; font-size: large;">986-2737316</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Grande Hospital,</h4>
            <p style="text-align: center;font-size: large;">Gyaneshwor, Kathmandu</p>
            <p style="text-align: center; font-size: large;">01-5159266</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Prasuti Griha,</h4>
            <p style="text-align: center;font-size: large;">Thapathali, Kathmandu</p>
            <p style="text-align: center; font-size: large;">01-4260405</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Nepal Mediciti Hospital,</h4>
            <p style="text-align: center;font-size: large;">Nakhkhu Ukalo, Lalitpur</p>
            <p style="text-align: center; font-size: large;">01-4217766</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Bir Hospital,</h4>
            <p style="text-align: center;font-size: large;">New road gate, Kathmandu</p>
            <p style="text-align: center; font-size: large;">01-4221119, 01-4221988</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Nepal Police Hospital,</h4>
            <p style="text-align: center;font-size: large;">Maharajgunj, Kathmandu</p>
            <p style="text-align: center; font-size: large;">01-4412430</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Civil Hospital,</h4>
            <p style="text-align: center;font-size: large;">Minbhawan, Kathmandu</p>
            <p style="text-align: center; font-size: large;">01-4107000</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Patan Hospital,</h4>
            <p style="text-align: center;font-size: large;">Patan, Lalitpur,</p>
            <p style="text-align: center; font-size: large;">01-5522295</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">KMC And Teaching Hospital,</h4>
            <p style="text-align: center;font-size: large;">Sinamangal, Kathmandu</p>
            <p style="text-align: center; font-size: large;">01-4469064</p>
          </div>
          
      </section>
      <section style=" margin-top: 7%; background-color: #c32d22;color: aliceblue;margin-left: 300px;margin-right: 300px;margin-bottom: 30px;padding: 10px;">
        <p class="lead text-center"style="font-weight: bold;margin-bottom: -4px;">Major Blood Banks Outside Kathmandu Valley</p>
    </section>
      <section>
        <div style="display: grid;grid-template-columns: auto auto auto ; padding: 20px;border: 5px solid #d67e78;margin-left: 30px;margin-right: 30px;margin-bottom: -4px ">
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">NRCS Regional BTSC,</h4>
            <p style="text-align: center;font-size: large;">Banke, Nepalgunj</p>
            <p style="text-align: center; font-size: large;">081 - 520174</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">NRCS Regional BTSC,</h4>
            <p style="text-align: center;font-size: large;">Bharatpur, Chitwan</p>
            <p style="text-align: center; font-size: large;">056 - 520880</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">NRCS Regional BTSC,</h4>
            <p style="text-align: center;font-size: large;">Pokhara, Kaski</p>
            <p style="text-align: center; font-size: large;">061 - 521091, 061 - 540191</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">NRCS Regional BTSC,</h4>
            <p style="text-align: center;font-size: large;">Rangeli Road, Biratnagar</p>
            <p style="text-align: center; font-size: large;">021 - 523326</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Dhulikhel Hospital,</h4>
            <p style="text-align: center;font-size: large;">Dhulikhel</p>
            <p style="text-align: center; font-size: large;">011 - 490497</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Manipal Teaching Hospital,</h4>
            <p style="text-align: center;font-size: large;">Pokhara, Kaski</p>
            <p style="text-align: center; font-size: large;">061-526416</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">BP Koirala Memorial Cancer Hospital,</h4>
            <p style="text-align: center;font-size: large;">Bharatpur</p>
            <p style="text-align: center; font-size: large;">056-524501</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Janaki Medical College Teaching Hospital,h4>
            <p style="text-align: center;font-size: large;">Dhanusha, Janakpur</p>
            <p style="text-align: center; font-size: large;">01-4435957</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Universal College of Medical Sciences,</h4>
            <p style="text-align: center;font-size: large;">Bhairahawa, Sidarthnagar</p>
            <p style="text-align: center; font-size: large;">01-4260405</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Bardiya DBTSC,</h4>
            <p style="text-align: center;font-size: large;">Bardiya</p>
            <p style="text-align: center; font-size: large;">084‐420835</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Dang District BTSC,</h4>
            <p style="text-align: center;font-size: large;">Ghorahi, Dang</p>
            <p style="text-align: center; font-size: large;">082‐561460</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Jumla District BTSC,</h4>
            <p style="text-align: center;font-size: large;">Jumla</p>
            <p style="text-align: center; font-size: large;">087‐520036</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Sunsari District BTSC,</h4>
            <p style="text-align: center;font-size: large;">Dharan</p>
            <p style="text-align: center; font-size: large;">025 - 525555</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Jhapa District BTSC,</h4>
            <p style="text-align: center;font-size: large;">Birtamode, Jhapa</p>
            <p style="text-align: center; font-size: large;">023‐541833</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Ilam District BTSC,</h4>
            <p style="text-align: center;font-size: large;">Ilam</p>
            <p style="text-align: center; font-size: large;">027‐520022</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Panchthar District BTSC,</h4>
            <p style="text-align: center;font-size: large;">Panchthar</p>
            <p style="text-align: center; font-size: large;">024‐570273</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Butwal District BTSC,</h4>
            <p style="text-align: center;font-size: large;">Butwal</p>
            <p style="text-align: center; font-size: large;">071‐550462</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Siraha District BTSC,</h4>
            <p style="text-align: center;font-size: large;">Siraha</p>
            <p style="text-align: center; font-size: large;">033‐560975</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Panchthar District BTSC,</h4>
            <p style="text-align: center;font-size: large;">Panchthar</p>
            <p style="text-align: center; font-size: large;">024‐570273</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Butwal District BTSC,</h4>
            <p style="text-align: center;font-size: large;">Butwal</p>
            <p style="text-align: center; font-size: large;">071‐550462</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Siraha District BTSC,</h4>
            <p style="text-align: center;font-size: large;">Siraha</p>
            <p style="text-align: center; font-size: large;">033‐560975</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Terhathum District BTSC ,</h4>
            <p style="text-align: center;font-size: large;">Myaglung</p>
            <p style="text-align: center; font-size: large;">026‐460101</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Makawanpur District BTSC,</h4>
            <p style="text-align: center;font-size: large;">Makwanpur</p>
            <p style="text-align: center; font-size: large;">057‐522977</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Dhanusha District BTSC,</h4>
            <p style="text-align: center;font-size: large;">Janakpur Provincial Hospital</p>
            <p style="text-align: center; font-size: large;">041 - 520870</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Kavre District BTSC,</h4>
            <p style="text-align: center;font-size: large;">Banepa, Kavre</p>
            <p style="text-align: center; font-size: large;">011 - 661431</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Kanchanpur District BTSC,</h4>
            <p style="text-align: center;font-size: large;">Kanchapur</p>
            <p style="text-align: center; font-size: large;">099‐525588</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Scheer Memorial Hospital,</h4>
            <p style="text-align: center;font-size: large;">Banepa, Kavre</p>
            <p style="text-align: center; font-size: large;">011 - 661111</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Nepalgunj Medical College,</h4>
            <p style="text-align: center;font-size: large;">Banke</p>
            <p style="text-align: center; font-size: large;">972 - 3001626</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">United Mission Hospital,</h4>
            <p style="text-align: center;font-size: large;">Palpa</p>
            <p style="text-align: center; font-size: large;">075 - 520958</p>
          </div>
          <div style="background-color: #f2f2f2;padding: 20px;border-radius: 5px;margin-right: 10px;margin-bottom: 20px;">
            <h4 style="color:#c32d22;text-align: center;">Tikapur Hospital,</h4>
            <p style="text-align: center;font-size: large;">Kailali</p>
            <p style="text-align: center; font-size: large;">091-560406</p>
          </div>
      </section>













    
  
  <div style="position: fixed;left: 0%;bottom: 0;width: 100%;">
  {% include "blood/footer.html" %}
</div>

</body>

</html>
