{% extends 'donor/donorbase.html' %}
{% block content %}
{% load widget_tweaks %}
{%load static%}
<head>
          <!-- Font special for pages-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

        <!-- Main CSS-->
    
        <link href="{% static "css/main.css" %}"rel="stylesheet" media="all">
</head>
<div style="position: relative; top: 30px; left: 20px; display: flex; justify-content: center;">
    <img src="/static/image/Req_form/blood-request-form.jpg" alt="My Image" style="display: block; margin-left: 0px; width: 30%; height: auto;">
  </div

{% endblock content %}
