<!--================ Start Password Reset Area =================-->

<!--================ Start Content Area =================-->

{%load static%}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
 
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Main CSS-->
    <link href="{% static "css/main.css" %}"rel="stylesheet" media="all">
    <style>

    </style>
  </head>
  <body>
    {% include "blood/navbar.html" %}
    
        
    


<!-- ================ End Content area ================= -->
<!-- Alerts -->
<section style="padding-top: 20px;" >
   
>
<div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
   <div class="wrapper wrapper--w790">
      {% if messages %}
   {% for message in messages %}
       {% if message.tags == 'success' %}
           <div class="alert alert-success" role="alert" id="success-message"style="text-align:center;">{{ message }}</div>
           <script>
               setTimeout(function() {
                   var successMessage = document.getElementById("success-message");
                   successMessage.style.display = 'none';
               }, 8000); // Change the time value (in milliseconds) to adjust the timer
           </script>
       {% elif message.tags == 'error' %}
           <div class="alert alert-danger" role="alert" id="error-message"style="text-align:center;">{{ message }}</div>
           <script>
               setTimeout(function() {
                   var errorMessage = document.getElementById("error-message");
                   errorMessage.style.display = 'none';
               }, 5000); // Change the time value (in milliseconds) to adjust the timer
           </script>
       {% endif %}
   {% endfor %}
{% endif %}
{% if error %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{ error }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<script>
    setTimeout(function() {
        $('.alert').alert('close');
    }, 3000);
</script>
{% endif %}

   <div class="card card-5">
       <div class="card-heading">
           <h2 class="title">Change Password</h2>
       </div>
       <div class="card-body">
         <div class="col-lg-6">
            <div class="login_form_inner">
               <h4 style="position: relative;left:50%">Enter New Password</h4>
               <form class="row login_form" method="post" action="password_reset" style="position: relative;left:50%">
                  {% csrf_token %}
                  <div class="col-md-12 form-group">
                     <input type="password" id="newpassword" name = "newpassword" class="form-control" placeholder="Enter the New Password" required/>                  </div>
                     <div class="login_form_inner">
                     </div><h4 style="position: relative;left:15px">Enter Confirm Password</h4>
                     <div class="col-md-12 form-group">
                     <input type="password" id="confirmpassword" name = "confirmpassword" class="form-control" placeholder="Enter Confirm Password" required/>                  </div>

                  <div class="col-md-12 form-group">
                     <button class="btn btn--radius-2 btn-success btn-block" type="submit" value="submit" class="button  w-100">Change Password</button>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</section>
<!--================End Login Box Area =================-->

<!--================ End Password Reset Area =================-->